@import "src/styles/placement.scss";
@import "src/styles/colors.scss";


.home{
    height: 100vh;
    background-color: $color-primary;
    color: $color-placeholder;
    text-align: center;
    
    div{
        margin-bottom: 100px;
    }
    p{
        font-size: 45px;
        margin-top: 0;
        
    }

    a{  
        font-size: 30px;
        text-decoration: none;
        color: $color-tertiary;
        width: 250px;
        padding: 10px 20px;
        border: 2px solid $color-tertiary;
        transition: all 0.3s ease-in-out;

        &:hover{
            background-color: $color-tertiary;
            color: $color-placeholder;
        }
    }


}


@media (max-width: 600px){
    .home{
        p{
            font-size: 40px;
        }
    }
    

}

