@import "src/styles/placement.scss";
@import "src/styles/colors.scss";

.contact{
    padding: 5% 10%;
    background-color: $color-primary;
    overflow-y: hidden;
    

    h2{
        position: relative;
        display: inline-block;
        color: white;
        font-size: 55px;
        margin-top: 0;
        margin-bottom: 80px;
        z-index: 1;
        &::after{
            position: absolute;
            content: '';
            height:20px;
            background-color: $color-tertiary;
            width: 100%;
            bottom: -5px;
            left: 30px;
            display: block;
            /* transform-origin: bottom; */
            
            z-index: -1 ;
            
        }
    }
}

.form-section{
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 500px;
        
       
        .textarea{
            height: 150px;
            width: 100%;
            resize: none;
            background-color: $color-secondary;
            color: $color-placeholder;
            text-indent: 10px;
            border: none;
            outline: none;
            padding: 0;
            &::placeholder{
                color: $color-placeholder;
                
            }

            
        }

        input{
            margin-bottom: 10px;
            padding: 0;
            height: 35px;
            width: inherit;
            background-color: $color-secondary; 
            color: $color-placeholder;
            border: none;
            outline: none;
            text-indent: 10px;
            
            &::placeholder{
                color: $color-placeholder;
                
            }
        }

        input:-webkit-autofill {
            box-shadow:0 0 0px 50px $color-secondary inset ;
            -webkit-box-shadow: 0 0 0px 50px $color-secondary inset;
            -webkit-text-fill-color: $color-placeholder;
        }

        button{
            align-self: flex-end;
            font-weight: bold;
            font-size: 25px;
            margin-top: 30px;
            padding: 5px 10px;
            
        } 
    }
}