@import "src/styles/colors.scss";

.logo{
    color: $color-primary;
    font-weight:400;
    letter-spacing: 2px;
    
    p{
        display: inline-block;
        color: $color-tertiary;
        margin: 0;
    }

}