@import "src/styles/colors.scss";

.skill-img{
    padding: 15px ;
    margin-bottom: 10px;
    width: 120px;
   /*  border: 2px solid $color-tertiary;
    border-radius: 15px; */
    color: white;
    object-fit: contain;

    transition: transform 0.2s ease-in-out;

    &:hover{
        transform: scale(1.1);
    }
    .logo-img{
        width: 65px;
        height: 60px;
        
    }

    p{
        margin: 0;
    }
   
}