@import "src/styles/colors.scss";

.skill-img{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 60px;
   /*  border: 2px solid $color-tertiary;
    border-radius: 15px; */
    color: white;
    

    transition: transform 0.2s ease-in-out;

    &:hover{
        transform: scale(1.1);
    }
    .logo-img{
        width: 45px;
        height: 45px;
        
    }

    p{
        margin: 0;
        font-weight: 400;

        letter-spacing: 2px;
    }
   
}

@media (max-width: 600px){
    .skill-img{
        
        width: 33%;
        margin-bottom: 30px;
        

        .logo-img{
            width: 35px;
            height: 35px;
            
        }

        .skill-name{
            font-size: 13px;
        }
        
    }

    
    

}
