@import "~normalize.css/normalize.css"; 
@import "./styles/config.scss";

@import "src/styles/colors.scss";


body {
  margin: 0;
  color: $color-placeholder ;
  font-family: -apple-system, BlinkMacSystemFont, 'montserrat','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
